@font-face {
    font-family: "Lato-Regular";
    src: url(./assets/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato-Light";
    src: url(./assets/fonts/Lato-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: "Lato-Black";
    src: url(./assets/fonts/Lato-Black.ttf);
    font-weight:normal;
    font-style:normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

/* Portfolio */

.portfolio {
    height: 870px;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
}

.container {
    padding: 60px 40px;
}

.portfolio h1 {
    color: #767e9e;
    font-size: 30px;
    font-family: Lato-Black;
    letter-spacing: 0.3px;
}

.portfolio p {
    margin-top: 22px;
    color: #767e9e;
    font-size: 18px;
    font-family: Lato-Light;
    letter-spacing: -0.01em;
}

.portfolio-buttons {
    margin: 16px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: #767e9e;
}

.portfolio-buttons div {
    height: 22px;
    border: solid 2px #767e9e;
    border-radius: 6px;
    padding: 1px 5px;
    margin-right: 10px;
    font-family: Lato;
    font-size: 12px;
    text-transform: capitalize;
}

.portfolio-buttons div:last-child{
    margin-right: 0;
}

.photos {
    height: 602px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.photos img {
    max-width: 220px;
    max-height: 188px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.photos img:nth-child(1), .photos img:nth-child(5),
.photos img:nth-child(9) {
    margin-left: 0;
}


.portfolio-buttons div:hover {
    color: #fff;
    border-color: #fff;
}

/* About us */

.about {
    height: 735px;;
    background-color: #f2f2f2;
    border-bottom: solid 6px #fff;
    color: #666d89;
}

.about h2 {
    text-transform: capitalize;
    font-family: Lato-Black;
    font-size: 30px;
}

.about p {
    color: #666d89;
    font-family: Lato-Light;
    font-size: 18px;
    margin: 15px 0;
    line-height: 1.8;
    letter-spacing: -0.012em;
}

.authors {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}

.authors h3 {
    margin-top: 13px;
    font-family: Lato-Black;
    font-size: 18px;
}

.authors p {
    margin-top: 8px;
    max-width: 300px;
    font-family: Lato-Regular;
    font-size: 12px;
    letter-spacing: 0.0001em;
}

.sites {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 10px;
    right: 3px;
}

.sites img {
    margin: 0;
    padding: 0 4px;
}