/* FONTS */
@font-face {
    font-family: "Lato-Regular";
    src: url(./assets/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato-Light";
    src: url(./assets/fonts/Lato-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: "Lato-Black";
    src: url(./assets/fonts/Lato-Black.ttf);
    font-weight:normal;
    font-style:normal;
}


/* MAIN ELEMENTS */
* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Lato-Regular, sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #2d303a;
}
.wrapper {
    width: 1020px;
    margin: 0 auto;
    position: relative;
}
.container {
    padding: 60px 40px;
}
.black-opacity {
    display: none;
}

/*  PREVIEW */
.preview {
    height: 95px;
}


/* HEADER */
.header {
    width: 1020px;
    height: 95px;   
    border-bottom: solid 6px #323746;
    background-color: #2d303a;
    text-align: center;
    z-index:200;
}
.header-panel {
    height: 100%;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.header-panel .header-menu {
    display: none;
}
.header-panel .logo {
    padding-left: 38px;
}
.logo h1 {
    padding-bottom: 7px;
    font-family: Lato-Regular;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}
.logo span {
    color: #e66962;
}
.nav ul{
    width: 450px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-evenly;
}
.nav li{
    display: inline-block;
}
.nav li a {
    font-family: Lato-Regular;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
.nav li a:hover {
    color: #f06c64;
}
.nav > ul > li > a.active {
    color: #f06c64;
}


/* SLIDER */
.slider {
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
}
.slider-panel {
    height: 600px;
    display: flex;
    padding-bottom: 8px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.slider-panel-second {
    background-image: url('./assets/img/Slide-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.phone {
    padding-left: 2px;
    position: relative;
}
.phone:nth-child(2) {
    padding-left: 18px;
}
.off {
    position: absolute;
    background-color: black;
    visibility: hidden;
    z-index: 2;
}
.off-vertical {
    
    top: 213px;
    left: 131px;
    width: 190px;
    height: 333px;

}
.off-horizontal {
    top: 282px;
    left: 480px;
    width: 333px;
    height: 190px;
}
.btn:hover {
    cursor: pointer;
    opacity: 0.7;
}
.slider-panel:first-child {
    padding-left: 40px;
}
.slider-panel:last-child{
    padding-right: 40px;
}


/* OUR-SERVICES */
.our-services {
    height: 500px;
    background-color: #f2f2f2;
    border-bottom: solid 6px #fff;
    color: #666d89;
    position: relative;
}
.services-panel {
    position: absolute;
    top: 54px;
    left: 42px;
}
.services-panel h2{
    text-transform: capitalize;
    font-size: 30px;
    display: inline-block;
    height: 50px;
}
.services-panel p {
    width: 940px;
    text-align: justify;
    padding-top: 2px;
    max-width: 980px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: -0.36px;
}
.article {
    width: 940px;
    height: 244px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 46px;
}
.section {
    width: 300px;
    height: 90px;
    display: flex;
}
.section h3 {
    font-size: 18px;
    text-transform: capitalize;
}
.section p {
    font-size: 12px;
}
.section .info {
    position: relative;
    bottom: 5px;
    left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.section .info p {
    word-wrap: break-word;
    text-align: justify;
    letter-spacing: -0.2px;
    width: 220px;
    position: relative;
    top: 5px;
    line-height: 1.88;
}


/* PORTFOLIO */
.portfolio {
    height: 870px;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
}
.container {
    padding: 60px 40px;
    position: relative;
}
.portfolio h1 {
    color: #767e9e;
    font-size: 30px;
    font-family: Lato-Black;
    letter-spacing: 0.3px;
}
.portfolio p {
    margin-top: 22px;
    color: #767e9e;
    font-size: 18px;
    font-family: Lato-Light;
    letter-spacing: -0.012em;
}
.portfolio-buttons {
    margin: 15px 0 17px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: #767e9e;
}
.portfolio-buttons div {
    height: 22px;
    border: solid 2px #767e9e;
    border-radius: 6px;
    padding: 1px 5px;
    margin-right: 10px;
    font-family: Lato;
    font-size: 12px;
    text-transform: capitalize;
}
.portfolio-buttons div:last-child{
    margin-right: 0;
}
.portfolio-buttons .active {
    color: #fff;
    border: solid 2px #fff;
}
.portfolio-buttons div:hover {
    color: #fff;
    border-color: #fff;
}
.photos {
    height: 602px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 20px;
}
.photos img {
    width: 220px;
    height: 188px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.photos img:nth-child(n+13) {
    display : none;
}
.photos .active {
    border: solid 5px #F06C64;
}


/* ABOUT US */
.about {
    height: 734px;;
    background-color: #f2f2f2;
    border-bottom: solid 6px #fff;
    color: #666d89;
}
.about h2 {
    text-transform: capitalize;
    font-family: Lato-Black;
    font-size: 30px;
}
.about p {
    width: 935px;
    color: #666d89;
    font-family: Lato-Light;
    font-size: 18px;
    margin: 15px 0;
    line-height: 1.7;
    letter-spacing: -0.013em;
    text-align: justify;
}
.authors {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}
.authors h3 {
    margin-top: 13px;
    font-family: Lato-Black;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.authors p {
    margin-top: 8px;
    max-width: 300px;
    font-family: Lato-Regular;
    font-size: 12px;
    text-align: justify;
    letter-spacing: -2;
    width: 300px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sites {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 10px;
    right: 3px;
}
.sites img {
    margin: 0;
    padding: 0 4px;
    cursor: pointer;
}


/* CONTACT */
.contact {
    height: 654px;
    background-color: #f06c64;
    border-bottom: solid #ea676b 6px;
}
.contact h2 {
    font-family: Lato-Black;
    font-size: 30px;
    color: #f0d8d9;
}
.contact p {
    width: 930px;
    height: 55px;
    font-family: Lato-Light;
    text-align: justify;
    font-size: 18px;
    letter-spacing: -0.19px;
    line-height: 1.6;
    color: #f0d8d9;
    margin-top: 18px;
    margin-bottom: 45px;
    word-wrap: break-word;
}
.contact-with-us {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
form {
    height: 370px;
    width: 620px;
}
form input {
    width: 620px;
    height: 38px;
    background-color: #d6564f;
    padding: auto 0;
    padding-left: 15px;
    margin-bottom: 16px;
    border: none;
    border-radius: 6px;
}
form input::placeholder{
    color: #f48c8f;
    font-family: Lato-Regular;
    font-size: 12px;
}
form input:focus{
    background-color: rgba(250, 120, 120, 0.35);
}
form textarea {
    width: 620px;
    height: 203px;
    background-color: #d6564f;
    padding: 10px  0 0 15px;
    resize: none;
    border: none;
    border-radius: 6px;
}
form textarea::placeholder{
    color: #f48c8f;
    font-family: Lato-Regular;
    font-size: 12px;
}
form textarea:focus{
    background-color: rgba(250, 120, 120, 0.35);
}
form input[type="submit"] {
    margin-top: 10px;
    background-color: #FBC65F;
    color: #886A30;
    width: 136px;
    height: 38px;
    padding-right: 14px;
    text-align: center;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #2d303a;
}
#message-block {
    font-family: Lato, sans-serif;
    position: relative;
    bottom: 300px;
    left: 20%;
    width: 500px;
    height: 220px;
    background: rgba(0, 0, 0, .6);
    border: 2px solid black;
    border-radius: 20px;
}
#message-block.hidden {
    display: none;
}
#message {
    overflow: hidden;
    text-overflow: ellipsis;
}
#message p {
    margin: 10px;
    height: 15px;
    width: 480px;
    font-weight: bold;
}
#message > p > span {
    font-size: 16px;
    font-weight: 200;
}
#message > button {
    margin-left: 10px;
    height: 40px;
    width: 100px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0 , 0, .9);
    border: 2px solid black;
    border-radius: 5px;
}
.contact-info {
    width: 300px;
    height: 200px;
}
.contact-info h3 {
    font-family: Lato-Black;
    font-size: 18px;
    text-transform: capitalize;
    color: #f0d8d9;
}
.contact-info p {
    word-wrap: break-word;
    text-align: justify;
    width: 309px;
    font-family: Lato-Regular;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.02px;
    color: #f0d8d9;
    position: relative;
    bottom: 12px;
    right: 2px;
}
.contact-info ul {
    position: relative;
    bottom: 8px;
}
.contact-info li {
    font-family: Lato-Regular;
    font-size: 12px;
    text-transform: capitalize;
    list-style-type: none;
    color: #f0d8d9;
}
.contact-info li:last-child {
    text-transform: lowercase;
}
li.address a::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url("assets/img/location.png") no-repeat;
    display: inline-block;
    position: relative;
    top: 10px;
}
li.telephone a::before{
    content: "";
    width: 20px;
    height: 20px;
    background: url("assets/img/phones.png") no-repeat;
    display: inline-block;
    position: relative;
    top: 10px;
}
li.email a::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url("assets/img/mail.png") no-repeat;
    display: inline-block;
    position: relative;
    top: 12px;
}
.contact-info li a {
    color: #f0d8d9;
}


/* FOOTER */
.footer {
    height: 76px;
    background-color: #2d303a;
}
.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer-block p {
    padding-left: 39px;
    padding-top: 30px;
    font-family: Lato-Regular;
    font-size: 12px;
    color: #575d74;
}
.footer-block .sites {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 21px;
    right: 35px;
    cursor: pointer;
}
.footer-block .sites img {
    margin: 0;
    padding: 0 4px;
    cursor: pointer;
}


@media (min-width: 1020px) {

    html {
        max-width: 100%;
        width: 100%;
    }
    /* Header */
    .preview {
        display: block;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}


@media (max-width: 1019px) {

    /* Main elements */
    html{
        overflow: scroll;
        overflow-x: hidden;
        max-width: 100%;
        width: 100%;
        max-width: 100%;
    }
    .wrapper {
        display: inline;
        margin: 0;
    }

    /* Header */
    .header {
        width: 100vw;
        height: 95px;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }
    
    /* Slider */
    .slider {
        overflow: hidden;
        width: 100vw;
        height: 58.4vw;
    }
    .slider-panel {
        height: 440px;
    }
    .phone-vertical img {
        width: 22vw;
        height: auto;
    }
    .phone-horizontal img {
        width: 44vw;
        height: auto;
    }
    .off-vertical{
        top: 26vw;
        left: 15vw;
        width: 17.4vw;
        height: 31vw;
    }
    .off-horizontal{
        top: 32.5vw;
        left: 47.9vw;
        width: 30.3vw;
        height: 17.2vw;
    }

    /* Our Services */
    .our-services {
        width: 100vw;
        height: 675px;
        overflow: hidden;
    }
    .services-panel {
        width: 100vw;
        position: relative;
        top: 10vw;
    }
    .services-panel > p {
        overflow: hidden;
        width: 88vw;
    }
    .article {
        width: 93vw;
        justify-content: space-between;
        flex-basis: 100%;
    }
    .services-panel > .article > .section {
        margin-bottom: 6vw;
        flex: 1 0 50%
    }

    /* Portfolio */
    .portfolio {
        height: 1100px;
        background-color: #2d303a;
        overflow: hidden;
    }
    .portfolio p {
        width: 83vw;
        line-height: 1.6;
    }
    .photos {
        width: 94vw;
        flex-basis: 100%;
        background-color: #2d303a;
        align-items: flex-start;
    }
    .photos img {
        flex: 0 0 30%;
    }
    
    /* About us */
    .about {
        width: 100vw;
        height: auto;
        overflow: hidden;
    }
    .about .container > p {
        width: 90vw;
    }
    .authors {
        width: 65vw;
    }
    .authors .person > img {
        width: 28vw;
        height: 28vw;
        height: auto;
    }
    .authors .person > p {
        width: 23vw;
        overflow: visible;
    }
    .authors .person {
        margin: 0 0.5vw;
    }
    .person .sites {
        margin-top: 7vh;
    }

    /* Contact */
    .contact {
        width: 100vw;
        overflow: hidden;
    }
    .contact p {
        width: 90vw;
    }
    .contact input {
        width: 55vw;
    }
    .contact textarea {
        width: 55vw;
    }
    .contact .container {
        width: 80vw;
    }
    .contact .contact-with-us {
        width: 50vw;
    }
    #form {
        float: left;
    }
    .contact .contact-info {
        width: 50vw;
        margin-left: 5vw;
    }
    .contact .contact-info > p {
        width: 30vw;
    }

    /* Footer */
    .footer {
        width: 100vw;
        overflow: hidden;
    }
}

@media (max-width: 767px) {

    /* Main elements */
    html{
        overflow: scroll;
        overflow-x: hidden;
        width: 100%;
        max-width: 100%;
    }
    .wrapper {
        display: inline;
        margin: 0;
    }
    .preview {
        height: 65px;
    }
    .black-opacity {
        display: none;
        height: 100%;
        width: 100%;  
        position: fixed; 
        top: 0; 
        left: 0; 
        background-color: #000; 
        opacity: 0.50; 
        z-index: 100;
    }

    /* Header */
    .header {
        height: 65px;
    }
    .header .nav {
        display: none;
    }
    .header-panel {
        justify-content: left;
        align-items: center;
    }
    .header .nav {
        width: 70vw;
        height: 500vw;
        position: absolute;
        top: 0;
        background-color: #2d303a;
    }
    .header .nav ul {
        display: flex;
        position: relative;
        top: 60vw;
        left: 19vw;
        flex-direction: column;
        justify-content: flex-start;
    }
    .header .nav ul li {
        width: 10vw;
        margin-bottom: 8vw;
    }
    .header .nav ul li a {
        font-size: 16px;
    }
    .header .nav ul li a:hover{
        color: #f06c64;
    }
    .header-panel .logo {
        margin: 0 20vw;
        z-index: 2;
    }
    .header-panel .logo h1 {
        font-size: 16px;
    }
    .header-panel .header-menu {
        display: block;
        margin-left: 5vw;
        z-index: 2;
    }
    .header-panel .header-menu img {
        transform: rotate(90deg);
    }
    .vertical-menu {
        transform: rotate(90deg);
    }

    /* Slider */
    .slider {
        height: auto;
    }
    .slider .slider-panel {
        height: auto;
        margin-top: 40px;
        position: relative;
        right: 10px;
    }
    .slider .btn-left {
        position: relative;
        right: 20px;
    }
    .slider .btn-right {
        position: relative;
        left: 10px;
    }
    .phone {
        margin: 0 10px;
    }
    .off-vertical{
        top: 5.9vw;
        left: 19.3vw;
        width: 17.7vw;
        height: 31.7vw;
    }
    .off-horizontal{
        top: 12.5vw;
        left: 51.3vw;
        width: 30.5vw;
        height: 17.2vw;
    }

    /*Our Services*/
    .our-services {
        height: 1060px;
    }
    .our-services .services-panel > p {
        width: 80vw;
    }
    .services-panel > .article > .section {
        margin-bottom: 4vh;
        flex: 1 0 100%;
    }

    /* Portfolio */
    .portfolio {
        height: 880px;
    }
    .portfolio p {
        width: 80vw;
    }
    .portfolio .container {
        position: relative;
    }
    .photos {
        height: 600px;
        position: absolute;
        overflow: hidden;
        left: 9vw;
    }
    .photos img {
        width: 38vw;
        height: 38vw;
        margin: 2vw;
    }

    /* About us*/
    .about .container > p {
        width: 77vw;
    }
    .authors {
        width: 30vw;
        flex-wrap: wrap;
    }
    .authors .person > img {
        width: 77vw;
        height: auto;
    }
    .authors .person > p {
        width: 77vw;
        overflow: visible;
    }
    .authors .person {
        margin: 0;
    }
    .authors .person .sites{
        margin: 0;
        margin-bottom: 13vw;
    }
    .authors .person  .last-sites {
        margin: 0;
    }

    /* Contact */
    .contact {
        height: 1080px;
        position: relative;
    }
    .contact p {
        width: 77vw;
    }
    .contact-with-us {
        position: relative;
        top: 150px;
        flex-wrap: wrap;
    }
    .contact input {
        width: 77vw;
    }
    .contact textarea {
        width: 77vw;
    }
    .contact input[type="submit"] {
        width: 77vw;
    }
    .contact .contact-info {
        width: 77vw;
        position: relative;
        top: 22vw;
        right: 4vw;
    }
    .contact .contact-info p {
        width: 77vw;
    }

    /* Footer */
    .footer p {
        display: none;
    }
    .footer .footer-block {
        justify-content: center;
        padding-left: 15vw;
    }
}